.form {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  grid-area: form;

  max-width: 512px;
  padding: 5rem;
  padding-bottom: 1.5rem;

  border-radius: 0.75rem;
  background-color: #232225;
}

.form > header {
  max-width: 21rem;
  margin-bottom: 1.5rem;
}

.form > header h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.form > header p {
  font-size: 0.87rem;
  color: #98959d;
}

.label {
  font-size: 1rem;
  font-weight: 700;
  color: #b2afb6;
}

.input {
  display: flex;

  width: 100%;
  height: 3rem;

  padding: 0.87rem 0.75rem;
  margin-bottom: 1.5rem;
  border: 1px solid #3e3c41;
  border-radius: 0.5rem;
}

.input i {
  margin-right: 0.5rem;
}

.input input {
  flex: 1;

  font-family: "Catamaran", sans-serif;
  font-size: 1rem;
  color: #b2afb6;
  background-color: transparent;

  outline: none;
  border: none;
}

.input:focus-within {
  border: 1.5px solid #b8952e;
}

.button {
  cursor: pointer;
  height: 3.5rem;
  padding: 1rem 1.25rem;

  border-radius: 0.5rem;
  border: none;

  text-transform: uppercase;
  font-size: 0.87rem;
  font-weight: 700;
  color: #050505;
  background-color: #b8952e;

  transition: background-color 0.3s;
}

.button:hover {
  background-color: #dbc170;
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
  background: url("../assets/arrow-down.svg") no-repeat;
}

.hours {
  display: flex;
  list-style: none;

  margin-bottom: 2rem;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.hour {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  width: 4.87rem;
  height: 2.5rem;

  font-size: 1rem;
  border: 1px solid #3e3c41;
  border-radius: 0.5rem;
}

.hour-period {
  width: 100%;

  margin-top: 0.75rem;

  font-size: 0.87rem;
  color: #98959d;
}

.hour-available {
  background-color: #2e2c30;
}

.hour-unavailable {
  opacity: 0.5;

  cursor: not-allowed;
}

.hour-selected {
  border: 1px solid #b8952e;
  color: #b8952e;
}

.hour:not(.hour-unavailable):hover {
  border: 1px solid #b8952e;
  color: #b8952e;
}

@media (max-width: 1100px) {
  .form {
    overflow-y: auto;
    max-width: 100%;
  }
}
